/* Import */
@import "./global/global.css";
@import "./global/header.css";

/* Home */
@import "./home/introducao.css";

/* Utilidades */
@import "./utilidades/cores.css";
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";
